<div class="d-flex justify-content-center flex-wrap mb-4">
    <a href="{{ site.baseurl }}/index.html" class="language-link mx-1 {% if page.lang == 'en' %}active{% endif %}">English</a>
    <a href="{{ site.baseurl }}/timeline_zh_cn.html" class="language-link mx-1 {% if page.lang == 'zh-CN' %}active{% endif %}">简体中文</a>
    <a href="{{ site.baseurl }}/timeline_zh_tw.html" class="language-link mx-1 {% if page.lang == 'zh-TW' %}active{% endif %}">繁體中文</a>
    <a href="{{ site.baseurl }}/timeline_ja.html" class="language-link mx-1 {% if page.lang == 'ja' %}active{% endif %}">日本語</a>
    <a href="{{ site.baseurl }}/timeline_ko.html" class="language-link mx-1 {% if page.lang == 'ko' %}active{% endif %}">한국어</a>
    <a href="{{ site.baseurl }}/timeline_vi.html" class="language-link mx-1 {% if page.lang == 'vi' %}active{% endif %}">Tiếng Việt</a>
</div>